# Define the line ending behavior of the different file extensions
# Set default behavior, in case users don't have core.autocrlf set.
* text text=auto eol=lf

# Remove files for archives generated using `git archive`
.gitattributes export-ignore
.gitignore export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore
psalm-baseline.xml export-ignore
phpstan.neon
phpcs.xml
.stickler.yml export-ignore
.github export-ignore
.phive export-ignore
.editorconfig export-ignore
tests/ export-ignore
