includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - src/
    ignoreErrors:
        - identifier: missingType.iterableValue
